<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all the colors</title>
</head>
<body>

<h1>Overview of all the colors</h1>

<table>
    <tr>
        <td colspan="4">Color's light-hue-shade range in HSL values</td>
        <td></td>
    </tr>
    <tr>
        <td>light</td>
        <td>hue</td>
        <td>shade</td>
        <td>gradient</td>
        <td></td>
    </tr>

    <tr th:each="color : ${colors}">
        <td th:text="${color.light}"></td>
        <td th:text="${color.hue}"></td>
        <td th:text="${color.shade}"></td>
        <td th:style="'width:120px; background: linear-gradient(to right, hsl('
        + ${color.light} + ') 0%, hsl('
        + ${color.hue} + ') 50%, hsl('
        + ${color.shade} + ') 100%);'">
        </td>
        <td><a th:href="@{/color/edit/{colorId}(colorId = ${color.colorId})}">edit</a></td>
        <td><a th:href="@{/color/delete/{colorId}(colorId = ${color.colorId})}">delete</a></td>
    </tr>
</table>

<a th:href="@{/color/add}">Add a color</a>

</body>
</html>