<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Save or edit an object</title>

</head>

<body>
    <div th:replace="~{fragments/general :: navbar}"></div>

    <div class="container">
        <h1>Change an object</h1>

        <p th:text="${formObject.getObjectName()}"></p>

        <div th:class="object-stack" id="editObject">
            <div th:style="|background:hsl(${formObject.color.getHue()}); mask-image:url(${formObject.getHueImage});|"></div>
            <div th:style="|background:hsl(${formObject.color.getShade()}); mask-image:url(${formObject.getShadeImage});|"></div>
            <div th:style="|background:hsl(${formObject.color.getLight()}); mask-image:url(${formObject.getLightImage});|"></div>
            <div th:unless="${formObject.staticImage == null}" th:style="|background-image:url(${formObject.getStaticImage});|"></div>
        </div>

        <form th:action="@{/object/save}" method="post" th:object="${formObject}">
            <input type="hidden" th:field="*{objectId}">
            <input type="hidden" th:field="*{objectName}">
            <input type="hidden" th:field="*{hueImage}">
            <input type="hidden" th:field="*{lightImage}">
            <input type="hidden" th:field="*{shadeImage}">
            <input type="hidden" th:field="*{staticImage}">
            <select th:field="*{color}">
                <option th:each="color : ${colors}"
                        th:text="${color.getColorName()}"
                        th:value="${color.getColorId()}">
                </option>
            </select>
            <input type="submit" value="Change color">
        </form>
    </div>

    <div th:replace="~{fragments/general :: footer}"></div>
    <div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>