<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Save or edit an object</title>

</head>

<body>
    <div th:replace="~{fragments/general :: navbar}"></div>

    <div class="container">
        <h1>Change an object</h1>

        <div th:class="object-stack" id="editObject">
            <div th:style="|background:hsl(${formObject.color.getHue()}); mask-image:url(${formObject.getHueImage});|"></div>
            <div th:style="|background:hsl(${formObject.color.getShade()}); mask-image:url(${formObject.getShadeImage});|"></div>
            <div th:style="|background:hsl(${formObject.color.getLight()}); mask-image:url(${formObject.getLightImage});|"></div>
            <div th:unless="${formObject.staticImage == null}" th:style="|background-image:url(${formObject.getStaticImage});|"></div>
        </div>

        <form th:action="@{/object/save}" method="post" th:object="${formObject}">
            <input type="hidden" th:field="*{objectId}">
            <input type="hidden" th:field="*{hueImage}">
            <input type="hidden" th:field="*{lightImage}">
            <input type="hidden" th:field="*{shadeImage}">
            <input type="hidden" th:field="*{staticImage}">

            <div class="row mb-1">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" th:field="*{objectName}">
                </div>
            </div>

            <div class="row mb-1">
                <label for="color" class="col-sm-2 col-form-label">Color</label>
                <div class="col-sm-8">
                    <select id="color" th:field="*{color}" class="form-select mb-1" aria-label="Default select example">
                        <option th:each="color : ${colors}"
                                th:text="|${color.getColorName()}|"
                                th:value="${color.getColorId()}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

        </form>
    </div>

    <div th:replace="~{fragments/general :: footer}"></div>
    <div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>